body,
html {
  margin: 0;
}
acide {
  color: red;
}
footer {
  padding: 100px;
  background-color: blue;
}
header {
  padding: 50px;
  background-color: yellow;
}

.test {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}